@import 'config';
@import 'utils';
@import 'form';

// GENERAL
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background: #fff;
  color: rgb(29, 26, 26);
}
a {
  text-decoration: none;
  color: $primary-color;
}
ul {
  list-style: none;
}

// NAVBAR
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  border-bottom: 1px solid $primary-color;
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  opacity: 0.9;
  ul {
    display: flex;
  }
  a {
    color: #fff;
    margin: 0 0.25rem;
    padding: 0.45rem;

    &:hover {
      color: $primary-color;
    }
  }
}

// LANDING
.landing {
  position: relative;
  // FIXME: Fix the background image
  background: url('../dist/img/hero.jpg') no-repeat center center/cover;
  height: 100vh;

  &-inner {
    color: #fff;
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

// PROFILES
.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  grid-gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  padding: 2rem;
  line-height: 1.8;
  border-radius: 5px;
  img {
    height: 200px;
  }
}

// PROFILE
.profile-wrapper {
  display: grid;
  grid-template-areas: 'top top' 'about about' 'exp edu' 'github github';
  grid-gap: 1rem;

  .profile-header {
    grid-area: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    img {
      width: 250px;
    }
    .icons a {
      color: #fff;
      margin: 0 0.3rem;
      &:hover {
        color: $dark-color;
      }
    }
  }
  .profile-about {
    grid-area: about;
    text-align: center;

    .skills {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .profile-exp {
    grid-area: exp;
  }
  .profile-edu {
    grid-area: edu;
  }
  .profile-exp,
  .profile-edu {
    & > div {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: #ccc 1px dashed;

      &:last-child {
        border: none;
      }
    }

    p {
      margin: 0.2rem 0;
    }
  }
  .profile-github {
    grid-area: github;
    .repo {
      display: flex;

      & > div:first-child {
        flex: 1;
        flex-basis: 70%;
      }
      & > div:last-child {
        flex: 3;
        flex-basis: 20%;
      }
    }
  }
}
