@import 'config';
@import 'utils';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background: #fff;
  color: #333;
}
a {
  text-decoration: none;
  color: $primary-color;
}
ul {
  list-style: none;
}
img {
  width: 100;
}

// NAVBAR
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  border-bottom: 1px solid $primary-color;
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  opacity: 0.9;

  ul {
    display: flex;
  }
  a {
    color:#fff;
    margin: 0 0.25rem;
    padding: 0.45rem;

    &:hover {
      color: $primary-color;
    }
  }
}
